/*  Default styles for mobile(single column) */
.image-gallery img{
    width: 300px;
    height: 200px;
    padding: 10px;
    box-sizing: border-box;
}
/* tablet view (two columns) */

@media (min-width:500px) and (max-width:800px){
    .image-gallery img{
        width: 49%;
    }
} 
/* Desktop view (four columns) */
@media (min-width:800px) {
    .image-gallery img{
        width: 25%%;
    }
}
/* Bonus: Add padding */

.image-gallery img{
    padding: 10px;
}